%buttons {
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  transition: ease-in-out .3s all;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-size: 1.125rem;
}

%flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

%flex-row-end {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

%flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

%flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

%full-size {
  width: 100%;
  height: 100%;
}
