// --- Colors --- //
$white: #fff !default;
$black: #000 !default;

$primary: #00754a !default;
$secondary: #b5c924 !default;
$tertiary: #2b9bf0 !default;
$blue: #005b93 !default;
$purple: #9b3b89 !default;
$red: #dd092f !default;
$orange: #e97914 !default;
$pink: #ce0077 !default;
$teal: #00829b !default;
$navy: #00538b !default;
$gray: #e3e3e3 !default;

// --- Font-styles --- //

// Fonts
$muli: 'Muli', sans-serif, serif;

// Font-size
$fz-top-menu: 3.5rem;
$fz-menu: 2rem;
$fz-h1: 7.447rem;
$fz-h2: 4.795rem;
$fz-h3: 3.235rem;
$fz-h4: 2.884rem;
$fz-p: 2.415rem;

// Weight
$thin: 100;
$regular: 400;
$semibold: 600;
$bold: 800;

// --- Others --- //
$header-shadow: 3px 5px 15px rgba(0,0,0,.1);

// --- Maps --- //

// Colors
$colors: (
  primary: #00754a,
  secondary: #b5c924,
  tertiary: #2b9bf0,
  white: #fff,
  black: #000,
);


// Breakpoints
$breakpoints: (

  "phone-xs":   320px,    
  "phone-sm":   375px,  
  "phone-md":   420px,
  "phone-lg":   520px,
  "phone-xl":   640px,
  "phone-xxl":  813px,

  "tablet-sm":  768px,
  "tablet-md":  1024px,
  "tablet-lg":  1224px,

  "desk-sm":    1140px,
  "desk-md":    1280px,
  "desk-lg":    1440px, 
  "desk-xxl":   1680px,

);
