<section id="main-title">
  <div class="container-fluid">
    <div class="row">
      <div class="w-100">
        <h1>una experiencia</h1>
        <h1>positiva</h1>
        <h1>para sanar</h1>
        <h1>tu cuerpo</h1>
      </div>
    </div>
    <div class="row our-values">
      <div class="w-50">

        <div class="row">
          <div class="w-45 our-values_item">
            <h2>somos escala</h2>
          </div>
          <div class="w-10">
            <div class="light-divider"></div>
          </div>
          <div class="w-45 our-values_item">
            <h2>pasion <br>calidez <br>integridad</h2>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>